.balance {
  box-sizing: border-box;
  background-color: hsl(10, 79%, 65%);
  width: 450px;
  height: 95px;
  margin-bottom: 25px;
  border-radius: 20px;
  padding: 25px;
  display: flex;
  justify-content: space-between;
  color: hsl(33, 100%, 98%);

  &--logo {
    width: 54px;
    height: 36px;
    padding-right: 15px;
  }
}